/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.02.2018, 16:09:09
    Author     : korolevitservice.ru
*/

.only_mobyle {
    display: none;
}
.only_desctop {
    display: block;
}




.nav .nav__item !important{
    width: 14%;
    
}




@media screen and (max-width: 1024px) {
    body {
        min-width: 300px;
        width: 100%;
    } 
    
    
    .container {
        width: 100%;
    }
    
    .nav .nav__link {
        font-size: 16px;
    }
    .owl-carousel .owl-item img {
        width: 100%;
    }
    
    
    .section-about .owl-about .owl-next {
        right: -0px;
          margin-top: -170px;
    }
    
    .section-about .owl-about .owl-prev {
            left: -0px;
            margin-top: -170px;

    }
    .section-about .owl-portfolio .owl-prev {
        left: -0px;
      
    }
    
    .section-about .owl-portfolio .owl-next {
        right: -0px;
        

    }
    
    
    .main-footer .header__callback-btn {
        margin-left: 0px;
    }
    
    
    
    
}


@media screen and (max-width: 1000px) {
    .nav .nav__link {
        font-size: 13px;
    }
    .section-form .form__button {
        margin-top: 20px;
    }
    
    #clear {
        clear: left;
    }
    #mob-col6 {
        width: 100%;
    }
    
    .col-4 {
        width: 100%;
        float: none;
    }
    .col-6 {
        width: 100%;
        float: none;
        clear: left;
        
    }
    
    
    .s1__right-img {
        position: relative;
        width: 100%;
    }
    
     h3.right-wrap__title {
        display: none;
    }
    
    
    .tab_content .owl-portfolio .owl-nav {
        position: relative;
width: 95%;
text-align: center;
margin: 0 auto;


    }
    
    .col-8 {
        width: 100%;
        text-align: center;
    }
    
    
    
    
    
}


@media screen and (max-width: 800px) {
   
    
   
    .header__title {
        text-align: center;
    }
    .header__phone-icon-wrap {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    .header__phones {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    .header__subtitle {
        text-align: center;
    }
    h3.form__title {
        display: none;
    }
    
    .left-wrap {
        display: none;
    }
    #mobyle_col6 {
        width: 100%;
        text-align: center;
    }
    
    .categories:hover .categories-content__descr {
        height: auto;
        font-size: 15px;
        line-height: 1.5;
    }
    .section-form {
        background-position: 0;
        background-size: cover;
    }
    .section-form .form__button {
      margin-left: 0px;  
    }
    #mobyle_col3 {
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .header__phone-icon-wrap {
        margin-left: 0px;
    }
    
    .rights__title::before {
        display: none;
    }
    
    .rights__title::after {
        display: none;
    }
    
    
  .header__logo {
    width: 50%;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 20px;
        
}

#header_logo {
    width: 100%;
}

.main-footer {
    overflow: hidden;
}



.about__title h3 {
    margin: 0;
text-transform: uppercase;
font-size: 35px;
font-weight: 700;
color: #fff;
position: relative;
}

#mobyle_col7 {
    width: 100%;
    float: none;
}


.rights__title {
    width: 100%;
}
.mob_col3 {
    float: none;
    width: 100%;
    margin-left: 0px;
}
.main-footer .header__phone-icon-wrap {
    margin-left: 0px;
}
.main-footer .header__callback-btn {
    margin: 0 auto;
}

.modal {
    width: 100%;
    height: auto;
}

.modal .form__input {
    width: 100%;
    padding: 0px;
    text-align: center;
}

.modal .form__subtext {
    width: 100%;
    text-align: center;
}

.modal .form__button {
    margin: 0 auto;
    margin-top: 20px;
}

.s4__title::before {
    display: none;
}


.s4__title::after {
    display: none;
}


.plash__title {
    padding-top: 0px;
}
.plash__descr {
    padding-top: 0px;
}
.plash__btn {
    margin-top: 0xp;
}
.plash-form__button {
    margin-left: 0px;
}

section.main-sect {
    height: auto;
    background-size: cover;
}
form#plash-order24 {
    padding-top: 0px;
}

.building-section-1 {
    height: auto;
    background-size: cover;
}

.building-section-2 {
  height: auto;
    background-size: cover;  
}

.main-nav {
    display: none;
}

selector.mobyle-nav {
    display: block;
}


.mobyle-nav {
    
}
.nav .nav__item {
    width: 100%;
    
}

ul.nav {
    height: auto;
}

ul.nav li {
    padding-top: 3px;
}

.nav .nav__link {
    background-image: -webkit-gradient(linear,left bottom,left top,from(#82d3d2), to(#2b689c));
background-image: -webkit-linear-gradient(bottom, #82d3d2 0, #2b689c 100%);
background-image: linear-gradient(to top, #82d3d2 0, #2b689c 100%);

    
}

#toggleLink {
    display: block;
    float: right;
border: 1px solid;
padding: 10px;
}



.only_mobyle {
    display: block;
    overflow: hidden;
}
.only_desctop {
    display: none;
}
    
}
    
    
